{%- import "ft_launcher_dgxc.j2" as fault_tolerance -%}
#!/bin/bash

set -evx  # Print commands, but DO NOT exit immediately on error (we handle that below)
export PYTHONUNBUFFERED=1
export TORCHX_MAX_RETRIES={{max_retries}}

{%- for env_var in env_vars %}
{{env_var}}
{%- endfor %}

{%- if ft_enabled %}
{{ fault_tolerance.ft_launcher_setup(fault_tol_cfg_path, fault_tol_finished_flag_file, fault_tol_job_results_file) }}
{%- endif %}

echo "Starting training command..."
set +e # Turn off auto-exit so we can capture the code

{{ training_command }}

exitcode=$?
set -e

echo "Main command exited with code $exitcode"

{%- if ft_enabled %}
{{ fault_tolerance.ft_launcher_teardown() }}
{%- else %}

exit $exitcode
{%- endif %}
